@tailwind base;
@tailwind components;
@tailwind utilities;

.page-min-height-without-navbar {
    min-height: calc(100vh - 80px);
}

.bg-clip-text {
    -webkit-background-clip: text;
    background-clip: text;
}

.ql-editor {
    font-size: 1.2rem;
}