@tailwind base;
@tailwind components;
@tailwind utilities;

.page-min-height-without-navbar {
    min-height: calc(100vh - 80px);
}

.bg-clip-text {
    -webkit-background-clip: text;
    background-clip: text;
}

.ql-editor {
    font-size: 1.2rem;
}

.logo-text-shadow {
    text-shadow: 3px 2px 0px rgba(0, 247, 255, 0.66);
}

.blog-content {
    @apply text-lg
}

.blog-content h1 {
    @apply text-3xl font-bold my-3
}

.blog-content h2 {
    @apply text-2xl font-semibold my-2
}

.blog-content h3 {
    @apply text-xl font-semibold my-1
}

.blog-content a {
    @apply text-cyan-500 underline hover:opacity-90 italic font-semibold
}

.blog-content ul {
    @apply max-w-full block mx-auto ps-20
}

.blog-content ul li {
    @apply list-disc
}

.blog-content ol {
    @apply max-w-full block mx-auto ps-20
}

.blog-content ol li {
    @apply list-decimal
}

.blog-content blockquote {
    @apply bg-sky-200 text-black text-xl border-l-8 px-5 py-3 my-3 border-sky-500
}

.blog-content pre {
    @apply inline-block max-w-full bg-slate-700 text-teal-200 font-mono mx-auto px-5 py-5 rounded-xl my-3 overflow-x-auto scrollbar-thin scrollbar-thumb-sky-700 dark:scrollbar-thumb-sky-400 scrollbar-track-slate-300 dark:scrollbar-track-slate-600
}

.blog-content code {
    @apply inline-block max-w-full bg-slate-700 text-teal-200 font-mono mx-auto ps-10 py-5 rounded-xl my-3
}

/* width */
body::-webkit-scrollbar {
    width: 7px;
}

/* Track */
body::-webkit-scrollbar-track {
    @apply bg-slate-300
}

/* Handle */
body::-webkit-scrollbar-thumb {
    background-color: transparent;
    height: 10vh;
    border-radius: 10px;
    border: 5px solid rgb(55, 55, 55);
    transition: 0.05ms;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
    border: 5px solid rgb(105, 105, 105);
}